* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 118, 118);
  height: 100vh;
}

.calculator {
  width: 500px;
  height: 650px;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 2fr 1.25fr repeat(5, minmax(0, 1fr));
  gap: 1em;
  padding: 1.5em;
  border-radius: 10px;
}

.result-display {
  grid-row: 1;
  grid-column: 1/5;
}
.input-display {
  grid-row: 2;
  grid-column: 1/5;
}

.add {
  grid-row: 4/6;
  grid-column: 4;
}

.equal {
  grid-row: 6 / span 2;
  grid-column: 4;
}

.zero {
  grid-column: 1/3;
}

.calculator .result-display,
.calculator .input-display {
  justify-content: flex-end;
  align-items: center;
}

.calculator .result-display {
  font-size: 2.5em;
}

.calculator .input-display {
  font-size: 1.75em;
}

.calculator div {
  background-color: rgb(255, 212, 219);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.5em;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 950;
}

.interact {
  cursor: pointer;
}

.interact:hover {
  background-color: yellow;
}
